header {
position: fixed;
width:100%;
height: 21%;
background: white;
top: 0;
}


/*Dando formato a los iconos*/

.menu{
    margin-top: 1%;
   
    text-align: center;
}

.menu div{
    display: inline-block;
}
  
span{
font-size: 25px;

}
.icon-pinterest{
    padding-right: 25px;
}
.icon-search {
    padding-right: 600px;
    padding-left: 60px;
}
.con-x{
    padding-left: 25px;
}

.icon--descarga{
    padding-left: 25px;

}

.icon-man{
    padding-left: 25px;
}

.icon-menu{
    padding-left: 25px;
}

.icon-cloud{
    padding-left: 25px;
}

.button-1{
    background-color: #2b1d04;
    padding: 20px;
     color: rgb(255, 255, 255);
     border-radius: 5px;
     border:0;
     font-weight: 600;  
     margin-right: 15px;
     
 
 }
 
 .button-2{
    background-color: #2b1d04;
    padding: 20px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border:0;
    font-weight: 600;  
    margin-right: 15px;
 }
 
 .button-3{
     background-color: #b67607;
     padding: 20px;
     color: rgb(255, 255, 255);
     border-radius: 5px;
     border:0;
     font-weight: 600;  
     margin-right: 15px;  
  }
  
  .button-4{
     background-color: #0f0f0e;
     padding: 20px;
     color: rgb(255, 255, 255);
     border-radius: 5px;
     border:0;
     font-weight: 600;  
     margin-right: 15px; 
  }
  .button-5{
     background-color:#646406;
     padding: 20px;
     color: rgb(255, 255, 255);
     border-radius: 5px;
     border:0;
     font-weight: 600;  
     margin-right: 15px;
  }
  .button-6{
     background-color: #04011b;
     padding: 20px;
     color: rgb(255, 255, 255);
     border-radius: 5px;
     border:0;
     font-weight: 600;  
     margin-right: 15px;
  }
  .button-7{
     background-color: #36361a;
     padding: 20px;
     color: rgb(255, 255, 255);
     border-radius: 5px;
     border:0;
     font-weight: 600;  
     margin-right: 15px;
  }
  .button-8{
     background-color: #0f0a38;
     padding: 20px;
     color: rgb(255, 255, 255);
     border-radius: 5px;
     border:0;
     font-weight: 600;  
     margin-right: 15px;
  }
  .button-9{
     background-color: #3f3f02;
     padding: 20px;
     color: rgb(255, 255, 255);
     border-radius: 5px;
     border:0;
     font-weight: 600;  
     margin-right: 15px;
  }

/*Dando estilos al body fotos*/


section{
   margin-top: 150px;
    overflow: auto;
    /*outline: 5px solid rgb(60, 255, 0);*/
   }


section .column{
    float:left;
    width: 20%;
    /*outline: 5px solid blue;*/
    
}  

 section .elemento{
  /*outline: 5px solid rgb(12, 14, 12);*/
  display: inline-block; 
  background: rgb(92, 85, 85);
  width: 100%;
  
}

.elemento img{
    width: 100%;
    background: blue;
}


p{
    /*outline: 5px solid rgb(231, 14, 14);*/
    width: 10%;
}


